*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.style1{
    color: blue;
    font-size: 30px;
    background-color: orangered;
    border: 3px solid black;
}
.style2{
    color: gray;
    font-size: 35px;
    background-color: greenyellow;
    border: 3px solid black;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
/* h1{
    padding: 20px;
} */
 button{
    padding: 10px 20px;
    font-size: 20px;
    margin:  0 10px;
 }